body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
}

.minh-100vh {
    min-height: 100vh;
}

.w100 {
    width: 100%;
}

.button-blurred {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.275);
    color: white;
    border: 0px;
    border-radius: 0.5em;
    -webkit-backdrop-filter: blur(10px);
    -webkit-background-color: rgba(0, 0, 0, 0.275);
}
.button-blurred:hover {
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-background-color: rgba(0, 0, 0, 0.75);
}

.font-georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width: 768px) {
    .hero-adapt {
        width: 100vw;
    }
}