

span.title {
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.275);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.navbar-item, .navbar-dropdown, .navbar-link {
    color: white;
}
.is-blurred-light {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.275);
    color: white;
}
.is-blurred-dark {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.navbar-dropdown {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.navbar-li {
    color: white !important;
    background-color:rgba(0, 0, 0, 0) !important;
}
.navbar-link::after {
    border-color: white !important;
}
.navbar-item:hover, .navbar-link:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.nav-no-hover:hover {
    background-color: rgba(0, 0, 0, 0);
}
.navbar-menu.is-active {
    background-color: rgba(0, 0, 0, 0.5);
}

.central-hero {
    margin-top: 4em;
    border-radius: 1em;
}
/* Media for central hero, eliminate top margin if too small of a screen */
@media screen and (max-width: 768px) {
    .central-hero {
        margin-top: 0;
        border-radius: 0em;
        min-height: 100vh;
    }
}

.navbar-burger span {
    background-color: white;
}