span.title {
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); /* Webkit support */
    margin-right: 1em;
    margin-left: 1em;
    border-radius: 1em;
}
.navholder {
    padding-top: 1em;
}
.navbar-item, .navbar-dropdown, .navbar-link {
    color: white;
    border-radius: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.is-blurred-light {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Webkit support */
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}
.is-blurred-dark {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Webkit support */
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}
.navbar-dropdown {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Webkit support */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.navbar-li {
    color: white !important;
    background-color:rgba(0, 0, 0, 0) !important;
}
.navbar-link::after {
    border-color: white !important;
}
.navbar-item, .navbar-link {
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
}
.navbar-item:hover, .navbar-link:hover, .navbar-burger:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.nav-no-hover:hover {
    background-color: rgba(0, 0, 0, 0);
}
.navbar-menu.is-active {
    background-color: rgba(0, 0, 0, 0.5);
}

.central-hero {
    margin-top: 4em;
    border-radius: 1em;
}
/* Media for central hero, eliminate top margin if too small of a screen */
@media screen and (max-width: 768px) {
    .central-hero {
        margin-top: 0;
        border-radius: 0em;
        min-height: 100vh;
    }
    .navbar {
        margin-right: 0;
        margin-left: 0;
        border-radius: 0em;
    }
    .navholder {
        padding-top: 0;
    }
}

.navbar-burger span {
    background-color: white;
}
