.table {
    border-radius: 1em;
    -webkit-transition: border-radius 0.5s ease;
    transition: border-radius 0.5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.table th {
    color: white !important;
}

.table td {
    color: rgb(209, 209, 209) !important;
}

.table tr {
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
}
/* radii for table row hover */
.table thead tr th:first-child {
    border-top-left-radius: 1em;
}
.table thead tr th:last-child {
    border-top-right-radius: 1em;
}
.table tbody:last-child tr:last-child td:first-child {
    border-bottom-left-radius: 1em;
}
.table tbody:last-child tr:last-child td:last-child {
    border-bottom-right-radius: 1em;
}
.table tr:hover {
    background-color: rgba(45, 189, 255, 0.101)
}
.table thead tr:first-child:hover {
    background-color: rgba(255, 255, 255, 0.084)
}

a {
    color: rgb(99, 180, 255);
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
a:hover {
    color: white;
}

@media screen and (max-width: 320px) {
    .table {
        font-size: 0.4em;
        border-radius: 0em;
    }
}

@media screen and (max-width: 768px) {
    .table {
        font-size: 0.4em;
    }
}